@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/**Card**/
.list-details {
  width: 100px;
}
.list-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  
  
  margin: 30px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  
}
.list-item{
  min-width: 220px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  border-radius: 6px;
  transition: transform ease 300ms;
}
.list-item:hover{
  transform: translate(0, -10px);
}
.list-details--name{
  color: gray;
  font-weight: 700;
  letter-spacing: 1.1px;

}
.list-btn{
  width: 250px;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  margin: 10px auto;
  display: inline-block;
  background-color: #FF5959;
  border-radius: 10px;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}